$white:#FFFFFF;
$containerWidth:77.1429rem;
$black:#000000;
$grayHeader-l:#9D9D9D;
$grayHeader-r:#9B9B9B;
$cardborder:#F3F3F3;
$addborder:#F2F2F2;
@import './all.scss';
html{
  font-size: 14px;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #E7F6FF;
  padding-top: 6.0714rem
}

.wrapper{
  background: $white;
  box-shadow: 0px 10px 20px 0px #0000000A;
  border-radius: 1.4286rem;
  background: #FFFFFF;
  max-width: $containerWidth;
  margin: 0 auto;
  
};
.container{
  padding: 0px 60px
}

